header {
    background-color: #FD739C;
    padding-top: 10px;
    padding-bottom: 50px;  
}
.header_description {
    color: white;
    font-family: Arial;
}
h1 {
    margin-top: 120px;
    color: white;
    font-family: Arial;
}
h2 {
    font-family: Arial;
}
p {
    font-size: 22px;
    line-height: 34px;
}
main {
    padding: 50px 0
}